<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/">Back</a>
    </div>
      
    <h1>Search Results</h1>
    <h2>You searched for: {{tags}} {{rating}}</h2>

    {{first_event}} {{second_event}}
    {% for images in images %}
            <img class="enlarge" class="center" src="{{url_for('static', filename=images)}}" alt="{{images}}" height=350 width=350>
    {% endfor %}
</body>
</html>
